{% extends "base.html" %}

{% block titulo %} Nosotros {% endblock %}

{% block contenido %}

<div class="bg-light">
    <div class="container">
        <h1 class="display-5 text-center">Seccion de nosotros</h1>
        <hr class="my-1">
        <p class="lead">Aqui encontrar diferentes libros que sean relacionados a la programación
            con el fin de que puedas aprovechar al maximo cada uno de ellos y asi poder fortalecer
            tus conocimientos en los diferentes frameworks y lenguajes de programación.
        </p>
        <div align="center"><img src="https://fondosmil.com/fondo/52714.jpg" height="400"></div>
    </div>
</div>

{% endblock %}